body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #22323C;
	font-size: 15px;

}

header {
	background: #82685F ;
	color: white;
	padding: 10px 0;
	text-align: center;
	position: static;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
header img {
	vertical-align: middle;
}
header nav {
	display: flex;
	align-items: center;
}
header nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
	transition: color 0.3s;
}

#cc{
   background-color: black;
   border-radius: 100px;
   padding: 15px;
}
#cc:hover{
	color: #6e6767;
	text-decoration: none;
}
header nav a:hover {
	color: #030303;
}


.info{
	background-image: url(/imagenes/estanteria.png);
	background-repeat: no-repeat;
	background-size: 100% 80%;
	margin-top: 0px ;
	padding-top: 140px;
	padding-bottom: 30px;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #51484B;
}
.caja h3 {
	padding-left:25px ;
}
.caja{
	padding: 25px;
	background-color: #CDC7B9;
	border-radius: 10px;
	width: 45%;
	height: 200px;
	color: black;
	text-align: justify;
	margin: 5px;
}

.contenido {
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 50px;
	background-color: #545454;
}
.contenido h2 {
	color: #fff;
}
.libros {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.libro {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 30%;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s;
}
.libro:hover {
	transform: scale(1.05);
}
.libro img {
	width: 100%;
	height: auto;
}
.libro p {
	font-weight: bold;
	color: #555;
	margin-top: 10px;
}
footer {
	background-color: #a89181;
	color: white;
	text-align: center;
	position: static;
	padding: 4px;
	bottom: 0;
	width: 99.4%;
	font-size: 12px;
}	



/* Contactanos */ 
main {
	margin: 0 15px 0 15px;
}

.contactanos-pag {
	min-height: 85vh;
	display: flex;
}

.col-md-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

span {
	padding-right: 15px;
	background-color: #22323C;
}

.title {
	color: white;
	margin-bottom: 25px;
	position: relative;
	padding-top: 8px;
	padding-left: 0;
	padding-bottom: 12px;
	text-transform: uppercase;
	width: 100%
}

.title:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	border-top: 1px solid rgb(255, 255, 255);
}


.info-mapa {
	margin: 25px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;

}

.info-contacto {
	padding-left: 0;
	font-size: 15px;
	color: #faf8f8;
	line-height: 1.6em;
	margin-bottom: 10px;
}

.mapa {
	border-radius: 5px;
	margin: 0px 30px 10px 30px;
}

.formulario {
	max-height: 480px;
	position: relative;
	margin: 25px;
	width: 90vh;
	padding: 34px 30px 60px 30px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #d9d9d9;
}

.input-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="number"],
input[type="tel"],
input[type="email"],
input[type="text"] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: #a6a6a6;
	color: #000000;
	font-weight: bold;
	padding: 12px 20px;
	position: absolute;
	right: 5%;
	border-radius: 10px;
	border-color: #a6a6a6;
}
/* Fin de Contactanos */
