body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #22323C;
}
header {
	background-color: #82685F;
	color: white;
	padding: 20px 0;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 4px solid black;
}
header img {
	vertical-align: middle;
}
header nav {
	display: flex;
}
header nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
	transition: color 0.3s;
}
header nav a:hover {
	color: #f0a500;
}
.content {
	padding: 50px;
	text-align: center;
}
.content h2 {
	color: #fff;
}
.books {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.book {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 30%;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s;
}
.book:hover {
	transform: scale(1.05);
}
.book img {
	width: 100%;
	height: auto;
}
.book p {
	font-weight: bold;
	color: #555;
	margin-top: 10px;
}
footer {
	background-color: #82685F;
	color: white;
	text-align: center;
	position: fixed;
	padding: 4px;
	bottom: 0;
	width: 100%;
	font-size: 12px;
}	