body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #22323C;
	background-image: url(/imagenes/estanteria.png);
	background-repeat: no-repeat;
	background-size: 100% 80%;

}
header {
	background: #82685F ;
	color: white;
	padding: 20px 0;
	text-align: center;
	position: static;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
header img {
	vertical-align: middle;
}
header nav {
	display: flex;
}
header nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
	transition: color 0.3s;
}
header nav a:hover {
	color: #f0a500;
}


.info{
	margin-top: 100px ;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #51484B;
}
.caja h3 {
	padding-left:25px ;
}
.caja{
	padding: 25px;
	background-color: #CDC7B9;
	border-radius: 10px;
	width: 45%;
	height: 200px;
	color: black;
	text-align: justify;
	margin: 5px;
}

.contenido {
	margin-top: 100px;
	padding: 50px;
	background-color: #545454;
}
.contenido h2 {
	color: #fff;
}
.libros {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.libro {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 30%;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s;
}
.libro:hover {
	transform: scale(1.05);
}
.libro img {
	width: 100%;
	height: auto;
}
.libro p {
	font-weight: bold;
	color: #555;
	margin-top: 10px;
}
footer {
	background-color: #82685F;
	color: white;
	text-align: center;
	position: static;
	padding: 4px;
	bottom: 0;
	width: 99.4%;
	font-size: 12px;
}	
