body {
    font-family: 'Arial', sans-serif;
    background-color: #22323c;
    margin: 0;
}

header {
	background: #82685F ;
	color: white;
	padding: 20px 0;
	text-align: center;
	position: static;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
header img {
	vertical-align: middle;
}
header nav {
	display: flex;
}
header nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
	transition: color 0.3s;
}

header nav a:hover {
	color: #f0a500;
}       
 

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 85vh;
}

.login-box {
    max-width: 400px;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
     }

     footer {
        background-color: #82685F;
        color: white;
        text-align: center;
        position: static;
        padding: 4px;
        bottom: 0;
        width: 99.4%;
        font-size: 12px;
    }	