body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url(imagenes/fondo\ de\ pantalla.png);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat; 

}
header {

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    text-align: center;
    padding: 30px 20px; 
    box-sizing: border-box; 
    background-color: #82685f;
    display: flex; /* Usar flexbox para el encabezado */
    justify-content: space-between; /* Espacia los elementos a los extremos */
    align-items: center; /* Alinea verticalmente */
}

.header-image {
    width: 180px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-left: 100px; 
}
.header-image2 {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-left: -100px; 
}


footer {
    display: flex; /* Usar flexbox para alinear las imágenes */
    justify-content: space-between; /* Espacia las imágenes a los extremos */
    align-items: center; /* Centra verticalmente las imágenes */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    text-align: center;
    padding: 20px ; /* Aumenta el padding en el eje Y para extender el color */
    background-color: #82685f;
}



.footer-image {
    max-width: 200px;
    height: auto;
    margin-left: 0; 
}

.footer-image2 {
    width: 200px;
    height: auto;
}

.footer-image3 {
    max-width: 200px;
    height: auto;
    margin-right: 20px; 
}

.button-container {
    display: flex; 
    justify-content: flex-end; /* Mueve los botones a la derecha */
    align-items: center; /* Alinea verticalmente los botones */
}
.action-button {
    background-color: #82685f; 
    color: rgb(252, 252, 252); 
    border: none; 
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin-left: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s; /* Efecto de transición */
}
.action-button1 {
    background-color: #82685f; 
    color: rgb(252, 252, 252); 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s; 
}
.action-button2 {
    background-color: #82685f; 
    color: rgb(252, 252, 252); 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s; 
}
.action-button3 {
    background-color: #82685f; 
    color: rgb(252, 252, 252); 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s;
}
.action-button4 {
    background-color: #82685f; 
    color: rgb(252, 252, 252); 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s;
}
.action-button:hover {
    background-color: #000000; /* Color al pasar el mouse */
}
.action-button1:hover {
    background-color: #000000; /* Color al pasar el mouse */
}
.action-button2:hover {
    background-color: #000000; /* Color al pasar el mouse */
}
.action-button3:hover {
    background-color: #000000; /* Color al pasar el mouse */
}
.action-button4:hover {
    background-color: #000000; /* Color al pasar el mouse */
}

.container {
    text-align: center;
    margin-top: 220px; /* Ajusta según el nuevo tamaño del encabezado */
    margin-bottom: 90px; /* Ajusta según el nuevo tamaño del pie de página */
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    width: 700px; /* Aumenta aún más el ancho del buscador */
    padding: 20px; /* Aumenta el padding */
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    border: 1px solid #582d25;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.image-container img {
    width: 200px;
    height: auto;
    border: 1px solid #ac412e;
    border-radius: 5px;
}
