body {
  font-family: 'Arial', sans-serif;
  background-color: #A89181;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} 

.container {
  background-image: url(/margen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: width  100%;
  background-color: #A89181;
  padding: 30px;
  border: #0c0c09;
  border: 5px solid black;
  text-align: left;
}

.login-box {
  max-width: 400px;
  margin: 0 auto;
}

label {
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.fas {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

#toggle-password {
  cursor: pointer;
}

#toggle-password:hover {
  color: #666;
}

button[type="submit"] {
  background-color: #0c0c09;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #b8a637;
}

#error-message {
  color: red;
  margin-top: 10px;
}